<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Chat</h1>
    <form action="/home" method="POST">
        <label for="from">From</label>
    <input type="text" name="from" placeholder="Sender's Name">

        <label for="to">To</label>
    <input type="text" name="to" placeholder="Receiver's Name">

        <label for="msg">Message</label>
    <input type="text" name="msg" placeholder="msg">
    <button>Add</button>
    </form>


</body>
</html>