<% layout("/layout/boilerplate.ejs")%>
<body>
    <h1>All Listings</h1>
    <%for(let list of data){%>

        <a href="/home/<%=list._id%>"><%=list.title%></a>
        
        <br>
    <%}%>
</body>
